@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

/* Configurações iniciais */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #fafafa;
  --secondary-color: #0a0a0a;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--secondary-color);
  background-size: 130px;
  background-image: url(../assets/images/background.png);
  background-size: 12px;
}

/* Container Styles */
.container {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 1rem;
  flex-direction: column;
  padding: 2rem .8rem;
}

.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  max-width: 500px;
  border: 1px solid var(--secondary-color);
  background-color: var(--primary-color);
  padding: 2.4rem 1.4rem;
  border-radius: 1rem;
}

/* Profile Styles */
.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.profile > img {
  width: 110px;
  height: 110px;
  border-radius: 110px;
  box-shadow: var(--primary-color) 0px 0px 0px 3px,
    var(--secondary-color) 0px 0px 0px 4px;
    margin-bottom: .8rem;
}

.profile > h1 {
  font-size: 2rem;
  opacity: 0.9;
}

.profile > p {
  font-size: 0.9rem;
  opacity: 0.8;
  max-width: 300px;
}

/* Links Styles */
.links {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 1.2rem;
  justify-content: center;
  flex-direction: column;
}

.links > a {
  opacity: 0.9;
  width: 100%;
  padding: 0.6rem;
  text-decoration: none;
  color: var(--secondary-color);
  background-color: var(--primary-color);
  text-align: center;
  border-radius: 0.4rem;
  box-shadow: var(--secondary-color) 0px 0px 0px 1px inset,
    var(--primary-color) 4px 4px 0px -1px, var(--secondary-color) 4px 4px;
  transition: all 200ms;
}

.links > a:hover {
  box-shadow: var(--secondary-color) 0px 0px 0px 1px inset;
}

/* Last Project Styles */
.last-project {
  margin-top: 2rem;
  width: 100%;
  display: flex;
  gap: 1rem;
}

.project-img {
  width: 120px;
  height: 120px;
  border-radius: 0.3rem;
  border: 0.2px solid var(--secondary-color);
  background-size: cover;
}

.project-content {
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.project-content > p {
  font-size: 0.9rem;
  width: 100%;
  max-width: 200px;
}

/* Footer Styles */
footer {
  text-align: center;
  font-size: 0.7rem;
  border: 1px solid var(--secondary-color);
  background-color: var(--primary-color);
  padding: .4rem 1rem;
  border-radius: .4rem;
}
